In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('df_bp1.csv')

C:\Users\sanch\AppData\Local\Temp\ipykernel_26360\2649927610.py:1: DtypeWarning: Columns (13,14,15,85,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('df_bp1.csv')

In [3]:
oddsshark_num_to_team_dict = {}
oddsshark_num_to_team_dict[26995]='PHI'
oddsshark_num_to_team_dict[26996]='SDN'
oddsshark_num_to_team_dict[26997]='SFN'
oddsshark_num_to_team_dict[26998]='ANA'
oddsshark_num_to_team_dict[26999]='DET'
oddsshark_num_to_team_dict[27000]='CIN'
oddsshark_num_to_team_dict[27001]='NYA'
oddsshark_num_to_team_dict[27002]='TEX'
oddsshark_num_to_team_dict[27003]='TBA'
oddsshark_num_to_team_dict[27004]='COL'
oddsshark_num_to_team_dict[27005]='MIN'
oddsshark_num_to_team_dict[27006]='KCA'
oddsshark_num_to_team_dict[27007]='ARI'
oddsshark_num_to_team_dict[27008]='BAL'
oddsshark_num_to_team_dict[27009]='ATL'
oddsshark_num_to_team_dict[27010]='TOR'
oddsshark_num_to_team_dict[27011]='SEA'
oddsshark_num_to_team_dict[27012]='MIL'
oddsshark_num_to_team_dict[27013]='PIT'
oddsshark_num_to_team_dict[27014]='NYN'
oddsshark_num_to_team_dict[27015]='LAN'
oddsshark_num_to_team_dict[27016]='OAK'
oddsshark_num_to_team_dict[27017]='WAS'
oddsshark_num_to_team_dict[27018]='CHA'
oddsshark_num_to_team_dict[27019]='SLN'
oddsshark_num_to_team_dict[27020]='CHN'
oddsshark_num_to_team_dict[27021]='BOS'
oddsshark_num_to_team_dict[27022]='MIA'
oddsshark_num_to_team_dict[27023]='HOU'
oddsshark_num_to_team_dict[27024]='CLE'

In [ ]:
pd.read_csv('Numeristical/')

In [5]:
# Use the saved files to get the odds information
# We create a dict based on team and season for easy lookup
df_odds_dict={}
for i in range(26995, 27025):
    team_name = oddsshark_num_to_team_dict[i]
    df_odds_dict[team_name] = {}
    print(team_name)
    for season in range(2019,2023):
        fname = 'Numeristical/oddsshark_'+team_name+'_'+str(season)+'.csv'
        df_temp = pd.read_csv(fname)
        df_temp['date_dblhead'] = (df_temp.date_numeric.astype(str) + df_temp.dblheader_num.astype(str)).astype(int)
        df_temp.set_index('date_dblhead', inplace=True)
        df_odds_dict[team_name][season] = df_temp

PHI
SDN
SFN
ANA
DET
CIN
NYA
TEX
TBA
COL
MIN
KCA
ARI
BAL
ATL
TOR
SEA
MIL
PIT
NYN
LAN
OAK
WAS
CHA
SLN
CHN
BOS
MIA
HOU
CLE

In [8]:
implied_prob_h = np.zeros(df.shape[0])
implied_prob_v = np.zeros(df.shape[0])
over_under = np.zeros(df.shape[0])
ou_result = np.full(df.shape[0],'', dtype=object)
for ind, row in df.iterrows():
    if (ind%1000)==0:
        print(ind)
    if row.season<2019:
        continue
    else:
        season = row['season']
        home_team = row['team_h']
        visit_team = row['team_v']
        home_game_no = row['game_no_h']
        visit_game_no = row['game_no_v']
        date_dblh = row['date_dblhead']
        try:
            implied_prob_h[ind] = df_odds_dict[home_team][season].loc[date_dblh,'prob_implied']
            over_under[ind] = df_odds_dict[home_team][season].loc[date_dblh,'Total']
            ou_result[ind] = df_odds_dict[home_team][season].loc[date_dblh,'OU']
        except KeyError:
            print(f'Game not found wrt home_team:{home_team} vs {visit_team} date_dbl {date_dblh}')
        try:
            implied_prob_v[ind] = df_odds_dict[visit_team][season].loc[date_dblh,'prob_implied']
        except KeyError:
            print(f'Game not found wrt visit_team:{visit_team} vs {home_team} date_dbl {date_dblh}')

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
Game not found wrt home_team:CHA vs SEA date_dbl 202106260
Game not found wrt visit_team:SEA vs CHA date_dbl 202106260
Game not found wrt home_team:ATL vs SDN date_dbl 202107211
Game not found wrt visit_team:SDN vs ATL date_dbl 202107211
Game not found wrt home_team:ATL vs SDN date_dbl 202107212
Game not found wrt visit_team:SDN vs ATL date_dbl 202107212
64000
65000
66000
67000

In [9]:
df['implied_prob_h'] = implied_prob_h
df['implied_prob_v'] = implied_prob_v
df['implied_prob_h_mid'] = (implied_prob_h + (1-implied_prob_v))/2
df['over_under_line']=over_under
df['over_under_result']=ou_result

In [10]:
df

,date,dblheader_code,day_of_week,team_v,league_v,game_no_v,team_h,league_h,game_no_h,runs_v,...,SB_30_v,CS_30_h,CS_30_v,ERR_30_h,ERR_30_v,implied_prob_h,implied_prob_v,implied_prob_h_mid,over_under_line,over_under_result
0,19940403,0,Sun,SLN,NL,1,CIN,NL,1,6,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.500000,0.0,
1,19940404,0,Mon,KCA,AL,1,BAL,AL,1,3,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.500000,0.0,
2,19940404,0,Mon,DET,AL,1,BOS,AL,1,8,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.500000,0.0,
3,19940404,0,Mon,SEA,AL,1,CLE,AL,1,3,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.500000,0.0,
4,19940404,0,Mon,TEX,AL,1,NYA,AL,1,3,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.500000,0.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67350,20221005,0,Wed,KCA,AL,162,CLE,AL,162,2,...,19.0,6.0,10.0,21.0,10.0,0.637681,0.383142,0.627270,7.5,O
67351,20221005,0,Wed,PHI,NL,162,HOU,AL,162,2,...,19.0,5.0,8.0,12.0,11.0,0.666667,0.370370,0.648148,7.5,U
67352,20221005,0,Wed,ANA,AL,162,OAK,AL,162,2,...,11.0,2.0,2.0,17.0,17.0,0.333333,0.687500,0.322917,6.5,U
67353,20221005,0,Wed,DET,AL,162,SEA,AL,162,4,...,8.0,6.0,4.0,21.0,16.0,0.591837,0.444444,0.573696,7.5,O
67354,20221005,0,Wed,NYA,AL,162,TEX,AL,162,2,...,23.0,11.0,6.0,16.0,15.0,0.523810,0.523810,0.500000,8.0,U

In [11]:
df[(df.season>=2019) & (df.implied_prob_h==0)]

,date,dblheader_code,day_of_week,team_v,league_v,game_no_v,team_h,league_h,game_no_h,runs_v,...,SB_30_v,CS_30_h,CS_30_v,ERR_30_h,ERR_30_v,implied_prob_h,implied_prob_v,implied_prob_h_mid,over_under_line,over_under_result
63634,20210626,0,Sat,SEA,AL,78,CHA,AL,76,3,...,15.0,7.0,5.0,18.0,15.0,0.0,0.0,0.5,0.0,
63917,20210721,1,Wed,SDN,NL,98,ATL,NL,94,3,...,22.0,6.0,9.0,8.0,18.0,0.0,0.0,0.5,0.0,
63918,20210721,2,Wed,SDN,NL,99,ATL,NL,95,6,...,22.0,6.0,10.0,8.0,19.0,0.0,0.0,0.5,0.0,

In [12]:
indices_to_drop = df[(df.season>=2019) & (df.implied_prob_h==0)].index
indices_to_drop

Int64Index([63634, 63917, 63918], dtype='int64')

In [13]:
df.shape

(67355, 199)

In [14]:
df.drop(indices_to_drop, inplace=True)
df.shape

(67352, 199)

In [15]:
df.reset_index(inplace=True, drop=True)
df.shape

(67352, 199)

In [16]:
df.to_csv('df_bp3.csv', index=False)